<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <components>
      <component id="UserRepository" service="eland.api.IRepository`1[[eland.model.User, eland.model]], eland.api" type="eland.api.UserRepository, eland.api"  />
      <component id="GenericRepository" service="eland.api.IRepository`1, eland.api" type="eland.api.Repository`1, eland.api"  />
      <component id="DataContext" service="eland.api.Interfaces.IDataContext, eland.api" type="eland.Utilities.DataContext, eland" />
      <component id="HomeController" type="eland.Controllers.HomeController, eland"  />
      <component id="LoginController" type="eland.Controllers.LoginController, eland"  />
      <component id="UserController" type="eland.Controllers.UserController, eland"  />
    </components>
  </castle>

</configuration>